
.dashboard-dialog > .rc-dialog-mask {
    background: rgba(0, 0, 0, 0.4);
}

.dashboard-dialog .rc-dialog-wrap {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}

.dashboard-dialog .rc-dialog {
    width: 100%;
    height: 100%;
}

@media (min-width: 560px) {
    .dashboard-dialog .rc-dialog {
        width: 425px;
        height: 438px;
    }

    .ps--active-x > .ps__rail-x, .ps--active-y > .ps__rail-y {
        display: none!important;
    }
}


.dashboard-dialog .rc-dialog-content {
    border-radius: 0;
    background: #fff;;
    border: 0;
    box-shadow: 0px 8px 56px rgba(54, 56, 112, 0.16);
    overflow: hidden;
    padding: 0;
}

@media (min-width: 560px) {
    .dashboard-dialog .rc-dialog-content {
        border-radius: 16px;
        width: 425px;
    }

    .dashboard-dialog .rc-dialog-content .ps__rail-x {
        display: none!important;
    }
}

.dashboard-dialog .rc-dialog-header {
    border-bottom: 1px solid #F1F2FE;
    padding: 16px;
    max-height: 56px;
}

.dashboard-dialog .rc-dialog-body {
    padding: 0;
    margin-top: 20px;
}

.dashboard-dialog .rc-dialog-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #363870;
}


.dashboard-dialog .rc-dialog-close {
    opacity: 1;
}
